body {
    background-color: rgb(66, 56, 107);
}
/*animation*/
@keyframes flip {
    0%{background: url("heads.png")}

    25%{background: url("tails.png")}
    
    50%{background: url("heads.png")}

    75%{background: url("tails.png")}
    
    100%{background: url("heads.png")}
}
/*class everything is tucked in for general formatting*/
.intro{
    width: 800px;
    height: 500px;
    margin: 50px auto;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 25px;
    color: rgb(228, 228, 228); 
}
/*first picture when page loads*/
#picture{
    background: url("heads.png");
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
/*timing for animation*/
.animate{
    background: url("tails.png");
    animation-name: flip;
    animation-iteration-count: 2;
    animation-duration: 1s;
}
/*shows the winner and winning coin image*/
#center{
    width: 227px;
    margin: 15px auto;
}
/*shows the picks of the computer and player*/
.pick, #player, #computer{
    display: inline;
    margin: 25px;
    font-size: 20px;
    font-family: Georgia, serif;
}
/*edits the buttons*/
button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: Georgia, serif;
    color: rgb(228, 228, 228);
    border-radius: 3px;
    background: rgb(18, 112, 18);
}

